{% extends "themes.twig" %}

{% use "@TransactionsShow/plugins/showmode.twig" %}

{% block headcss %}

    <link rel="stylesheet" type="text/css" href="/public/Framework/DataTables-1.10.16/css/dataTables.bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/public/Framework/Buttons-1.5.1/css/buttons.bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/public/Framework/Responsive-2.2.1/css/responsive.bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/public/Framework/Select-1.2.5/css/select.bootstrap.min.css"/>

    <link href="/public/Framework/BootstrapSelect/bootstrap-select.min.css" rel="stylesheet" type="text/css"/>
    <link href="/public/Framework/JqueryConfirm/jquery-confirm.min.css" rel="stylesheet" type="text/css"/>

    <style>
        .DataTableJs {
            width:95% ; 
            margin: auto ;
        }
    </style>
{% endblock %}



{% block controle %}
    {{ block('showmode') }} 
{% endblock %}

{% block container %}



    <div class ="">

        <div class="row" style="width:90% ; margin: auto ;    margin-top: 10px;">
            <table id="DataTableJs"  class="DataTableJs table table-striped table-bordered dt-responsive nowrap ">

                {% if Html_or_Json=='json' %}

                {% elseif Html_or_Json=='HTML' %}
                    {{ table_intent(intent,input_tableHtml('TransactionTraitementShow'))}}
                {% endif %}   


            </table>
        </div>

    </div>   
{% endblock %}

{% block footer %}
    <!-- Custom datatables -->


    <script  src="/public/Framework/DataTables-1.10.16/js/jquery.dataTables.min.js"></script>
    <script  src="/public/Framework/DataTables-1.10.16/js/dataTables.bootstrap.min.js"></script>



    {% if jsCharges.excel == true %}
        <script  src="/public/Framework/JSZip-2.5.0/jszip.min.js"></script>
    {% endif %}
    {% if jsCharges.pdf == true %}
        <script  src="/public/Framework/pdfmake-0.1.32/pdfmake.min.js"></script>
        <script  src="/public/Framework/pdfmake-0.1.32/vfs_fonts.js"></script>
    {% endif %}
    <script  src="/public/Framework/Buttons-1.5.1/js/dataTables.buttons.min.js"></script>
    <script  src="/public/Framework/Buttons-1.5.1/js/buttons.bootstrap.min.js"></script>
    <script  src="/public/Framework/Buttons-1.5.1/js/buttons.colVis.min.js"></script>
    <script  src="/public/Framework/Buttons-1.5.1/js/buttons.html5.min.js"></script>
    {% if jsCharges.print == true %}
        <script  src="/public/Framework/Buttons-1.5.1/js/buttons.print.min.js"></script>
    {% endif %}
    <script  src="/public/Framework/Responsive-2.2.1/js/dataTables.responsive.min.js"></script>
    <script  src="/public/Framework/Responsive-2.2.1/js/responsive.bootstrap.min.js"></script>
    <script  src="/public/Framework/Select-1.2.5/js/dataTables.select.min.js"></script>


    <script src="/public/AWA/DataTable.js" ></script>

    {% if Html_or_Json=='json' %}
        <script>DataTable_awa('#DataTableJs',
                    "{{btnDataTable}}",
                    '{{input_tableJson("TransactionTraitementShow")}}',
                    "{{ajax}}");</script>
        {% elseif Html_or_Json=='HTML' %}
        <script>DataTable_awa('#DataTableJs',
                    "{{btnDataTable}}",
                    '{{input_tableJson("TransactionTraitementShow")}}'
                    );</script>
        {% endif %} 
    <!-- end dataTables -->  

    <script src="/public/Framework/BootstrapSelect/bootstrap-select.min.js" ></script>
    <script src="/public/Framework/JqueryConfirm/jquery-confirm.min.js"></script>
    <script src="/public/AWA/modeAffichageTable.js" ></script>

{% endblock %}