{% extends "themes.twig" %}
{% use "@show/plugins/controleAjoter.twig" %}
{% use "@show/plugins/showmode.twig" %}


{% block headcss %}

    <link rel="stylesheet" type="text/css" href="/public/Framework/DataTables-1.10.16/css/dataTables.bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/public/Framework/Buttons-1.5.1/css/buttons.bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/public/Framework/Responsive-2.2.1/css/responsive.bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/public/Framework/Select-1.2.5/css/select.bootstrap.min.css"/>

    <link href="/public/Framework/BootstrapSelect/bootstrap-select.min.css" rel="stylesheet" type="text/css"/>
    <link href="/public/Framework/JqueryConfirm/jquery-confirm.min.css" rel="stylesheet" type="text/css"/>

{% endblock %}

{% block controle %}
    <div class="col-xs-2">
        {{ block('controleAjoter') }}

    </div>
    <div class="col-xs-10">
        {{ block('showmode') }} 
    </div>
{% endblock %}

{% block container %}




    <div class ="box shadow-4dp">
        <div class="row"  style="width:95% ; margin: auto ;    margin-top: 10px;">
            <table id="DataTableJs" style="width:95% ; margin: auto ;" class="table table-striped table-bordered dt-responsive nowrap ">
               
            </table>
        </div>
    </div>
{% endblock %}


{% block footer %}
    <script src="/public/AWA/modeAffichageTable.js" ></script>
    <!-- Custom datatables -->

    <script  src="/public/Framework/JSZip-2.5.0/jszip.min.js"></script>
    <script  src="/public/Framework/pdfmake-0.1.32/pdfmake.min.js"></script>
    <script  src="/public/Framework/pdfmake-0.1.32/vfs_fonts.js"></script>
    <script  src="/public/Framework/DataTables-1.10.16/js/jquery.dataTables.min.js"></script>
    <script  src="/public/Framework/DataTables-1.10.16/js/dataTables.bootstrap.min.js"></script>
    <script  src="/public/Framework/Buttons-1.5.1/js/dataTables.buttons.min.js"></script>
    <script  src="/public/Framework/Buttons-1.5.1/js/buttons.bootstrap.min.js"></script>
    <script  src="/public/Framework/Buttons-1.5.1/js/buttons.colVis.min.js"></script>
    <script  src="/public/Framework/Buttons-1.5.1/js/buttons.html5.min.js"></script>
    <script  src="/public/Framework/Buttons-1.5.1/js/buttons.print.min.js"></script>
    <script  src="/public/Framework/Responsive-2.2.1/js/dataTables.responsive.min.js"></script>
    <script  src="/public/Framework/Responsive-2.2.1/js/responsive.bootstrap.min.js"></script>
    <script  src="/public/Framework/Select-1.2.5/js/dataTables.select.min.js"></script>


    <script src="/public/AWA/JsonDataTable.js" ></script>

    <script>DataTableJson('#DataTableJs',
                "{{optiondatatable}}",
                '{{input_tableJson("traitement")}}',
                "{{Ajax("ajax.get")}}");</script>
    <!-- end dataTables -->  
    <script src="/public/Framework/Moment/moment.js" ></script>
    <script src="/public/Framework/BootstrapSelect/bootstrap-select.min.js" ></script>
    <script src="/public/Framework/JqueryConfirm/jquery-confirm.min.js"></script>



{% endblock %}
