{# empty Twig template #}

{% macro li_a(name,lable) %}

    <li>
      <a href="{{name}}">{{lable}}</a>
    </li>

{% endmacro%}

{% macro input(name, value, type, size) %}
    <input type="{{ type|default('text') }}" name="{{ name }}" value="{{ value|e }}" size="{{ size|default(20) }}" />
{% endmacro %}